
a.sbg {
	width: 45px;
	height: 45px;
	background-repeat: no-repeat;
	background-position: center center;
	text-indent: -900em;
	text-decoration: none;
	line-height: 100%;
	white-space: nowrap;
	display: inline-block;
	vertical-align: middle;
	margin: 0 2px 5px 0;

	background-image: url("https://wiki.gentoo.org/images/thumb/5/55/Github_logo.png/45px-Github_logo.png");
	border: solid 1px #b8b8b9;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 22.5px;
}
a.sbg:hover {
	background-color: #4d7de1;
}

a.sbl {
	width: 45px;
	height: 45px;
	background-repeat: no-repeat;
	background-size: 115%;
	background-position: center center;
	text-indent: -900em;
	text-decoration: none;
	line-height: 100%;
	display: inline-block;
	vertical-align: middle;
	margin: 0 2px 5px 0;
	background-image: url("https://cdn3.iconfinder.com/data/icons/free-social-icons/67/linkedin_circle_color-512.png");
	border: solid 1px #b8b8b9;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 22.5px; 
}

a.sbl:hover {

	background-size: 115%;
	background-color: orange;    
}

a.sbt {
	width: 45px;
	height: 45px;
	background-repeat: no-repeat;
	background-position: center center;
	text-indent: -900em;
	text-decoration: none;
	line-height: 100%;
	white-space: nowrap;
	display: inline-block;
	vertical-align: middle;
	margin: 0 2px 5px 0;

	background-image: url("https://sarahprager.files.wordpress.com/2012/10/sarita_twitter2.png?w=50&h=50");
	border: solid 1px #b8b8b9;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 22.5px;
}
a.sbt:hover {
	background-color: #2ECCFA;

}

a.sbf {
	width: 45px;
	height: 45px;
	background-repeat: no-repeat;
	background-position: center center;
	text-indent: -900em;
	text-decoration: none;
	line-height: 100%;
	white-space: nowrap;
	display: inline-block;
	vertical-align: middle;
	margin: 0 2px 5px 0;

	background-image: url("https://medium.com/img/email/fb_logo.png");
	border: solid 1px #b8b8b9;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 22.5px;
}
a.sbf:hover {
	background-color: #FFFFFF;

}

a.sbh {
	width: 45px;
	height: 45px;
	background-repeat: no-repeat;
	background-position: center center;
	text-indent: -900em;
	text-decoration: none;
	line-height: 100%;
	white-space: nowrap;
	display: inline-block;
	vertical-align: middle;
	margin: 0 2px 5px 0;
	background-image: url("http://www.topjavablogs.com/spring/icon/5838");
	border: solid 1px #b8b8b9;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 22.5px; 

}

a.sbh:hover {
	background-color: #E8E8E8;
}


a.sbc {
	width: 45px;
	height: 45px;
	background-repeat: no-repeat;
	background-position: center center;
	text-indent: -900em;
	text-decoration: none;
	line-height: 100%;
	white-space: nowrap;
	display: inline-block;
	vertical-align: middle;
	margin: 0 2px 5px 0;
	background-image: url("http://codeskulptor.appspot.com/include/favicon.ico");
	border: solid 1px #b8b8b9;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 22.5px;
}

a.sbc:hover {
	background-color: #FFFFCC;
}


  	